<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
<h1> home </h1>
<button type="button" onclick="
  var socket = io();
  socket.on('connect', function() {
      socket.emit('create_room', {data: ''});
      alert('room created');
  });">Create Room</button><p>
<button type="submit" onclick="
var socket = io();
var code = document.getElementById('room_code').value;
socket.on('connect', function() {
  socket.emit('join_room', {data: code});
  alert('room with code ' + code + ' joined');
});">Join Room</button> Room code: <input type="text" id="room_code">
